name: Run Tests

on: [push, pull_request]

jobs:
  quality:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    
    - name: Code quality checks
      run: |
        cd backend
        black --check .
        isort --check-only .
        flake8 .
    
    - name: Start Django server
      run: |
        cd backend
        Start-Job -ScriptBlock {
            cd backend
            python manage.py runserver 127.0.0.1:8000 --noreload
        }
        Start-Sleep -Seconds 10

    - name: Run all tests with coverage
      run: |
        cd backend
        pytest